*{
	margin: 0;
	padding: 0;
}
html,body{
	/*filter: grayscale(100%);灰色滤镜*/
	font-family: helvetica,"microsoft yahei",arial,sans-serif;
	width: 100%;
	height: 100%;
	color: white;
}
#beijing{
	height: 100%;
	background: #e61919 url(../img/beijing.jpg) no-repeat 0 0;
	background-size: 100%;
}
.header{
	text-align: center;
}
#logo{
	width: 110px;
	margin-top: 150px;
}
#title{
	height: 60px;
    margin-top: 40px;
}
.main{
	width: 806px;
    height: auto;
    margin: 60px auto;
}
.info{
	width: 274px;
    height: 34px;
    background: none;
    float: left;
    margin-right: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffd5d1;
}
.logo{
    height: 34px;
    background: none;
    float: left;
    font-size: 28px;
}
#userID,#password{
	width: 208px;
    height: 32px;
    float: left;
    margin-top: 2px;
    margin-left: 16px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}
.yzm{
	width: 234px;
    height: 34px;
    background: none;
    float: left;
    margin-left: 8px;
    margin-bottom: 20px;
}
#yzminfo{
	width: 100px;
    height: 32px;
    float: left;
    margin-left: 16px;
    margin-top: 2px;
    padding-left: 8px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid #ffd5d1;
}
#yanzhengma{
	float: left;
    margin-left: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: white;

}
input::-webkit-input-placeholder{
	color: white;
    font-size: 18px;
}
.help{
	width: 620px;
    height: 44px;
    margin: 50px auto;
}
#submit{
	width: 164px;
    height: 42px;
    line-height: 42px;
    color: white;
    font-size: 22px;
    background: #fd844ab3;
    border-radius: 6px;
    border: none;
    float: left;
    cursor: pointer;
}
.item{
	width: 440px;
    height: 42px;
    line-height: 42px;
    float: right;
    font-size: 18px;
}
.item a{
	color: white;
	text-decoration: none;
}
#saomadenglu{
	float: right;
}
#saomadenglu a{
	float: left;
}
#saomadenglu .logo{
	font-size: 18px;
	float: right;
}
.footer{
	width: 100%;
    height: auto;
    text-align: center;
    margin-top: 140px;
}
.footer h4{
	font-family: sans-serif;
    font-weight: 500;
	font-size: 14px;
}
.xiaochengxu{
	width: 160px;
    height: 260px;
    position: absolute;
    bottom: 45px;
    right: 60px;
}
#xiaochnegxu{
	width: 76%;
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -60px;
    border-radius: 50%;
}
#guanghuan{
	position: absolute;
    bottom: 0;
    left: 0;
}
.xiaochengxu div{
	position: absolute;
    bottom: 38px;
    left: 50%;
    margin-left: -55px;
    font-size: 16px;
}
